*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
**/.dirstamp
install-sh
libtool
ltmain.sh
missing
**.m4
**/.deps/
stamp-h1
archive/*
dist/*
mpcplus/src/mpcplus
mpcplus/config.*
config/mpprc-secret
config/music/*
config/beets/configs/*
config/beets/secrets.yaml
beets/*/__pycache__/
beets/*/*.egg-info/
pkg/dist/arch/*
pkg/dist/centos/*
pkg/dist/fedora/*
pkg/dist/rpi/*
releases/*
musicplayerplus
timg
tmp
config/mpd/tmp
tools
# vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
tmux*log
.DS_Store
