*.o
GTAGS
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
**/.dirstamp
install-sh
libtool
ltmain.sh
missing
**.m4
**/.deps/
src/mpcplus
stamp-h1
archive/*
dist/*
releases/*
tmp/*
# vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
