[Desktop Entry]
Name=mpcplus
Comment=NCurses Music Player Plus
Keywords=Terminal;Audio;Player
Terminal=true
TryExec=mpcplus
Exec=mpcplus
Icon=mpd
Type=Application
StartupNotify=false
Categories=Audio;Player;ConsoleOnly;
