[Desktop Entry]
Name=MusicPlayerPlus
Comment=Music Player Plus
Keywords=Terminal;Audio;Player
Terminal=true
TryExec=mpplus
Exec=mpplus
Icon=mpd
Type=Application
StartupNotify=false
Categories=Audio;Player;ConsoleOnly;
