[Desktop Entry]
Name=MusicPlayer
Type=Application
GenericName=Music Player
GenericName[ca]=Emulador de terminal
GenericName[cs]=Emulátor terminálu
GenericName[es]=Emulador de terminal

Comment=Music Player
Comment[ca]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[de]=Befehlszeile verwenden
Comment[el]=Προσομοιωτής τερματικού
Comment[es]=Emulador de terminal
Comment[fr]=MusicPlayer
Comment[lt]=MusicPlayer emuliatorius
Comment[pl]=Emulator terminala
Comment[pt]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
Comment[ru_RU]=Эмулятор терминала
Comment[ja]=ターミナル　エミュレータ

Icon=utilities-terminal
Exec=/usr/local/mpp/bin/mpcava -f -t -q
Terminal=false
Categories=Qt;System;TerminalEmulator;
Actions=Dropdown;

[Desktop Action Dropdown]
Name=Drop-down MusicPlayer
Exec=/usr/local/mpp/bin/mpcava -f -t -q
Icon=utilities-terminal

Name[en_GB]=Drop-down Music Player
Name[bg]=Падащ терминал
Name[ca]=Music Player desplegable
Name[ca@valencia]=Music Player desplegable
Name[cs]=Vysouvací terminál
Name[da]=Music Player der ruller ned
Name[de]=Aufklapp-Music Player
Name[el]=Αναπτυσσόμενο τερματικό
Name[es]=Music Player desplegable
Name[et]=Lahtikeriv terminal
Name[fr]=Music Player déroulant
Name[hr]=Spuštajući terminal
Name[hu]=Legördülő terminál
Name[it]=Music Player a discesa
Name[ja]=ドロップダウン式ターミナル
Name[km]=ស្ថានីយ​ទម្លាក់​ចុះ
Name[ko]=위에서 내려오는 터미널
Name[lt]=Išskleidžiamasis terminalas
Name[nb]=Nedtrekksterminal
Name[nds]=Utklapp-Konsool
Name[nl]=Uitvouwbare terminalemulator
Name[pa]=ਲਟਕਦਾ ਟਰਮੀਨਲ
Name[pl]=Rozwijany emulator terminala
Name[pt]=Music Player suspenso
Name[pt_BR]=Music Player suspenso
Name[ro]=Music Player derulant
Name[ru]=Выпадающий терминал
Name[sk]=Rozbaľovací terminál
Name[sv]=Rullgardinsterminal
Name[th]=เทอร์มินัลแบบหย่อนลง
Name[tr]=Yukarıdan Açılan Uçbirim
Name[uk]=Спадний термінал
Name[x-test]=xxDrop-down MusicPlayer
Name[zh_CN]=拉幕式终端
Name[zh_TW]=下拉式終端機
