[Desktop Entry]
Name=MusicPlayerPlus
Comment=Music Player Plus
Keywords=Terminal;Audio;Player
Terminal=true
TryExec=mpplus -i
Exec=mpplus -i
Icon=mpd
Type=Application
StartupNotify=false
Categories=Audio;Player;ConsoleOnly;
