[Unit]
Description=beets mpdstats
Documentation=https://beets.readthedocs.io/en/stable/plugins/mpdstats.html
After=mpd.service
OnFailure=notify-xmpp@%i.service
#StartLimitIntervalSec=20s

[Service]
Type=simple
UMask=007
ExecStart=/bin/bash -c 'exec beet mpdstats'
Restart=on-failure
#RestartSec=5s
# Time to wait before forcefully stopped.
TimeoutStopSec=300
StandardOutput=file:%h/.config/beets/logs/mpdstats.log
StandardError=inherit

[Install]
WantedBy=default.target
